/*
 * This file is part of HearthStoneHelper.
 *
 * HearthStoneHelper is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * HearthStoneHelper is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with HearthStoneHelper.  If not, see <http://www.gnu.org/licenses/>.
 */
/* @charset "UTF-8"; */
/* Fonts */
@font-face
{
	font-family: belwe;
	font-weight: bold;
	font-style: normal;
	src: url("../fonts/belwebd-webfont.eot");
	src: url("../fonts/belwebd-webfont.eot?#iefix") format('embedded-opentype'),
	url("../fonts/belwebd-webfont.woff") format('woff'),
	url("../fonts/belwebd-webfont.ttf") format('truetype')
}
/* CSS Document */
body
{
	margin: 6px;
	padding: 0px;
}
.open
{
	cursor: url("../images/ceopen.png"), auto;
}
.closed
{
	cursor: url("../images/ceclosed.png"), auto;
}
#controlscontainer
{
	margin-left:250px;
}
#wrapper
{
	width: 250px;
	display: inline-block;
	margin: auto auto;
	float: left;
}
/* Toolbox: Container for control buttons */
.toolbox
{
	height: 32px;
	width: 224px;
	display: block;
	float: left;
	border:6px groove #666;
	margin: auto auto;
	background-color: #252525;
	border-color: #ede1bf #a29565 #ad9959 #d5bd83;
	border-width: 2px;
	border-style: solid;
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 
	margin-top: 2px;
	padding: 4px;
}
.divider
{
	display: block;
	clear:both;
	float:left;
}
/* Deck box: Container for deck and title */
#holder
{
	min-height: 24px;
	width: 224px;
	background-color: #eee;
	display: none;
	float: left;
}
.deck_holder
{
	min-height: 24px;
	width:224px;
	border:6px groove #666;
	margin: auto auto;
	background-color: #252525;
	border-color: #ede1bf #a29565 #ad9959 #d5bd83;
	border-width: 2px;
	border-style: solid;
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 
	margin-top: 2px;
	padding: 4px 4px 0px 4px;
}
.deck
{
	width:224px;
	min-height: 24px;
	display: block;
	color: #ccc;
}
ul
{
	list-style:none;
	margin:0px;
	padding:2px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	-moz-margin-before: 0px;
	-moz-margin-after: 0px;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
	-moz-padding-start: 0px;
}

/* STYLES FOR CARD ELEMENTS */
/* Colors for names based on card oddity */
.soulbound
{
	color: #9d9d9d !important;
}
.common, .card, .bg, .cost, .shadow-overlay, .cover
{
	color: #fff !important;
}
.rare
{
	color: #0070dd !important;
}
.epic
{
	color: #a335ee !important;
}
.legendary
{
	color: #ff8000!important;
}

/* STYLES FOR HERO DECKS */
/* Colors for names based on World of Warcraft hero color */
.neutral
{
	color: #CCCCCC !important;
}
.deathknight
{
	color: #C41F3B !important;
}
.druid
{
	color: #FF7D0A !important;
}
.hunter
{
	color: #ABD473 !important;
}
.mage
{
	color: #69CCF0 !important;
}
.monk
{
	color: #00FF96 !important;
}
.paladin
{
	color: #F58CBA !important;
}
.priest
{
	color: #FFFFFF !important;
}
.rogue
{
	color: #FFF569 !important;
}
.shaman
{
	color: #0070DE !important;
}
.warlock
{
	color: #9482C9 !important;
}
.warrior
{
	color: #C79C6E !important;
}

/* Common properties for all fields: Mainly, text and pointer */
.card, .cost, .count, .bg, .name, .shadow-overlay, .cover
{
	cursor: url("../images/cpointer.png"), pointer;
	font-weight: bold;
	font-family: belwe;
	font-size: 13px;
	text-shadow: 1px 1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000;
	-webkit-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	-moz-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	-o-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
}
.card /* Card holder: Common properties for each card */
{
	background: #303030;
	border-radius: 6px;
	box-shadow: 0px 0px 20px #000;
	display: block;
	height: 24px;
	margin: 0 0 3px 2px;
	position: relative;
	width: 222px;
	outline: none;
}
.card:hover
{
	box-shadow: 0 1px 3px #fff;
}
.name /* Card Name: Position and text properties */
{
	height: 24px;
	left: 16px;
	padding-left: 16px;
	line-height: 22px;
	position: absolute;
	top: 0;
	z-index: 5;
	display: block;
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: 0px 4px;
}
.bg /* Card Background: Common properties and position (url is defined as tag on the element) */
{
	box-shadow: inset -1px 0 0 rgba(255,255,255,.2),1px 0 0 rgba(0,0,0,.5);
	background-position: 30px -40px;
	background-size: 150px auto;
	border-radius: 0 6px 6px 0;
	opacity: .8;
	position: absolute;
	left: 75px;
	top: 0;
	transition: background 150ms linear !important;
	-webkit-transition: background 150ms linear !important;
	-moz-transition: background 150ms linear !important;
	-o-transition: background 150ms linear !important;
	width: 144px;
	z-index: 1;
	display: block;
	height: 24px;
}
.count /* Card count area: Just text and position */
{
	color: #ffe600;
	font-size: 20px;
	font-weight: bold;
	height: 24px;
	line-height: 22px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 19px;
	z-index: 5;
}

#card_counter,
#counter_text        { color: #ffffff !important; }
#cards_total         { color: #00ff00 !important; }
#cards_remain.zero   { color: #ff0000 !important; }
#cards_remain.few    { color: #ff8800 !important; }
#cards_remain.middle { color: #ffff00 !important; }
#cards_remain.many   { color: #008800 !important; }

#card_counter
{
	width: auto; /* 50%; */
	display: inline-block;
	float: left;
	clear: none;
	font-size: 14px;
	font-weight: bold;
	font-family: belwe;
	text-shadow: 1px 1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000;
	-webkit-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	-moz-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	-o-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	text-align: center;
	line-height: 30px;
}

/* COMMON FOR BUTTONS */
.icon, .flag, .import, .store, .folder, #flagbutton
{
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
	cursor: url("../images/cpointer.png"), pointer;
	display: inline-block;
	float: right;
	clear: none;
	background-color: none;
	-webkit-transition: -webkit-transform 250ms linear;
	-moz-transition: -moz-transform 250ms linear;
	-o-transition: -o-transform 250ms linear;
	transition: transform 250ms linear;
}
.icon:hover, .flag:hover, .import:hover, .store:hover, .folder:hover, #flagbutton:hover
{
  -webkit-transform: rotate(-15deg);
     -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
       -o-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-transform-origin: center center;
     -moz-transform-origin: center center;
      -ms-transform-origin: center center;
       -o-transform-origin: center center;
          transform-origin: center center;
}

/* Box for Hero frame */
#deck_class
{
	transition: background 250ms linear !important;
	-webkit-transition: background 250ms linear !important;
	-moz-transition: background 250ms linear !important;
	-o-transition: background 250ms linear !important;
	z-index: 1;
	display: block;
	height: 48px;
	position: relative;
	width: 100%;
	outline: none;
	cursor: url("../images/cpointer.png"), pointer;
}
#deck_name
{
	font-size: 14px;
	font-weight: bold;
	font-family: belwe;
	text-shadow: 1px 1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000;
	-webkit-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	-moz-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	-o-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	color: #444;
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
	background: none;
	border: none;
}

/* ICONS */
.icon /* For buttons or controls based on icons */
{
	background-image: url(../images/sprite32.png);
	float:left;
}
.attack /* Attack icon: Yellow sphere indicator */
{
	background-position: 0 0px;
}
.health /* Health icon: Red drop indicator */
{
	background-position: 0 -32px;
}
.cost /* Cost icon: Diamond Mana indicator */
{
	background-position: 0 -64px;
}
.battle /* Battle icon: Swords indicator */
{
	background-position: 0 -96px;
}
.durability /* Durability icon: Shield indicator */
{
	background-position: 0 -128px;
}
.arcanepowder /* ArcanePowder icon: Bottle indicator */
{
	background-position: 0 -160px;
}
.stone /* Stone icon: Stone indicator */
{
	background-position: 0 -192px;
	float:right !important;
}
.foil /* Foil icon: Foil indicator */
{
	background-position: 0 -224px;
	float:right !important;
}
.rank /* Rank icon: Rank indicator */
{
	background-position: 0 -256px;
}
.question /* Question mark: ? sign */
{
	background-position: 0 -288px;
}

/* FLAGS */
.flag /* For buttons or controls based on icons */
{
	background-image: url(../images/flags.png);
}
.dede /* german flag */
{
	background-position: 0 0px;
}
.engb /* english gb flag */
{
	background-position: 0 -32px;
}
.enus /* english us flag */
{
	background-position: 0 -64px;
}
.eses /* spanish es flag */
{
	background-position: 0 -96px;
}
.esla /* spanish la flag */
{
	background-position: 0 -128px;
}
.frfr /* french flag */
{
	background-position: 0 -160px;
}
.itit /* italian flag */
{
	background-position: 0 -192px;
}
.kokr /* korean flag */
{
	background-position: 0 -224px;
}
.plpl /* polish flag */
{
	background-position: 0 -256px;
}
.ptbr /* portuguese br flag */
{
	background-position: 0 -288px;
}
.ptpt /* portuguese pt flag */
{
	background-position: 0 -320px;
}
.ruru /* russian flag */
{
	background-position: 0 -352px;
}
.zhcn /* chinese cn flag */
{
	background-position: 0 -384px;
}
.zhtw /* chinese tw flag */
{
	background-position: 0 -416px;
}

/* IMPORT */
.import /* For buttons or controls used to import */
{
	background-image: url(../images/import.png);
}
.fromurl
{
	background-position: 0 -32px;
	display: block;
	clear:both;
	float:left;
}
.fromhtml
{
	background-position: 0 0px;
	display: block;
	clear:both;
	float:left;
}

/* LOAD/SAVE ICONS */
.store, .folder
{
	background-image: url(../images/loadsave.png);
}
.fimport
{
	background-position: 0 -256px;
}
.fstore
{
	background-position: 0 -224px;
}
.get
{
	background-position: 0 -192px;
	display: block;
	clear:both;
	float:left;
}
.put
{
	background-position: 0 -160px;
	display: block;
	clear:both;
	float:left;}
.retrieve
{
	background-position: 0 -128px;
}
.delete
{
	background-position: 0 -96px;
}
.intern
{
	background-position: 0 -64px;
}
.load
{
	background-position: 0 -32px;
}
.save
{
	background-position: 0 0px;
}

#importfolder, #storefolder, #flagsfolder
{
	z-index:1000;
	border:2px groove #666;
	background-color: #252525;
	border-color: #ede1bf #a29565 #ad9959 #d5bd83;
	border-width: 2px;
	border-style: solid;
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 
	margin-top: 2px;
	padding: 4px;
	color:#fff !important;
	display: none;
	position:absolute;
}
#importfolder, #storefolder
{
	width:32px;
	float: left;
	clear:both;
}
#flagsfolder, #flagbutton
{
	float:right;
}
#flagbutton
{
	width:32px;
}
#flagsfolder
{
	width:auto;
}

.inlined
{
	clear:none !important;
	float:left !important;
	display:list-item !important;
}
/* MISC */
.cost /* Cost area: Diamond on background plus cost value text and position */
{
	font-size: 20px;
	font-weight: bold;
	left: -16px;
	line-height: 32px;
	position: absolute;
	text-align: center;
	top: -4px;
	z-index: 30; /* 20 */
	display: block;
}
.shadow-overlay /* Shadow overlay on each card tag */
{
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1),inset 0 -1px 0 rgba(255,255,255,.08);
	border-radius: 6px;
	display: block;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 3;
	background: -moz-linear-gradient(left,  rgba(40,40,40,1.0) 60%, rgba(40,40,40,0.8) 70%, rgba(40,40,40,0) 80%);
	background: -webkit-gradient(linear, left top, right top, color-stop(60%,rgba(40,40,40,1.0)), color-stop(70%,rgba(40,40,40,0.8)), color-stop(80%,rgba(40,40,40,0)));
	background: -webkit-linear-gradient(left,  rgba(40,40,40,1.0) 60%,rgba(40,40,40,0.8) 70%,rgba(40,40,40,0) 80%); 
	background: -o-linear-gradient(left,  rgba(40,40,40,1.0) 60%,rgba(40,40,40,0.8) 70%,rgba(40,40,40,0) 80%); 
	background: -ms-linear-gradient(left,  rgba(40,40,40,1.0) 60%,rgba(40,40,40,0.8) 70%,rgba(40,40,40,0) 80%);
	background: linear-gradient(to right,  rgba(40,40,40,1.0) 60%,rgba(40,40,40,0.8) 70%,rgba(40,40,40,0) 80%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff303030', endColorstr='#00000000',GradientType=1 );
}
.cover /* Card cover (to dark it when all used) */
{
	bottom: 0px;
	display: block;
	height: auto;
	left: 0px;
	position: absolute;
	right: 0;
	top: 0px;
	background-color:rgba(0, 0, 0, 0);
	z-index: 12;
	width:222px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	transition: background-color 0.5s linear !important;
	-webkit-transition: background-color 0.5s linear !important;
	-moz-transition: background 0.5s linear !important;
	-o-transition: background-color 0.5s linear !important;
}

/* STYLES FOR CONTROLS */
/* Controls for import/reset decks */
/* Main container */
#importhtml, #importurl , #exportintern, #importintern, #importbasic, #exportdecks, #importdecks
{
	width: 224px;
	z-index:1;
	display: none;
	border:6px groove #666;
	background-color: #252525;
	border-color: #ede1bf #a29565 #ad9959 #d5bd83;
	border-width: 2px;
	border-style: solid;
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 
	margin-top: 2px;
	padding: 4px;
	color:#fff !important;
}
#importintern
{
	width:300px !important;
}
#importbasic
{
	width:230px !important;
	height:220px !important;
}
.inputbox, .input
{
	border: 1px solid #444;
	background-color: #eee;
	color: #444;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 10px;
	text-decoration: none;
	width: 224px;
}

.content
{
	font-weight: bold;
	font-family: belwe;
	text-shadow: 1px 1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000;
	-webkit-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	-moz-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	-o-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	font-size: 10px;
	text-decoration: none;
	padding: 0px !important;
}

.withcontent
{
	display: none;
}

.deckline
{
	display:inline-block;
	clear:right;
	width: 100% !important;
	cursor: url("../images/cpointer.png"), pointer;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.deckline, .decklinename
{
	float:left;
	color: #fff;
	font-weight: bold;
	font-family: belwe;
	font-size: 12px !important;
	text-decoration: none;
	padding: 2px !important;
}
.decklinename
{
	min-width:200px;
	position: relative;
	top: 4px;
	text-shadow: 1px 1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000;
	-webkit-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	-moz-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	-o-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
}

.classicon
{
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 0px 0px;
	width: 20px;
	height: 20px;
	margin: 0px;
	padding: 0px;
	display: inline;
	float: left;
	position: relative;
	top: 6px;
}

.lineoff { background-color:transparent; }
.lineon { background-color:rgba(255,255,255,0.25); }

#tooltip
{
	width: auto;
	height: auto;
	position:fixed;
	padding: 4px;
	color: #fff;
	font-weight: bold;
	font-family: belwe;
	text-shadow: 1px 1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000;
	-webkit-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	-moz-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	-o-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	font-size: 10px;
	text-decoration: none;
	background-color: #444;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #ccc;
	z-index:1000;
}

/* HELP CONTENT */
#help
{
	position: absolute;
	top: 0px;
	left: 0px;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	display:none;
	background-color: rgba(196,196,196,0.75);
	z-index:100;
	cursor: url("../images/cpointer.png"), pointer;
}

.flipbox-container
{
	width: 654px;
	height: 726px;
	left:50%;
	top:25%;
	margin: -181px 0 0 -327px;
	position:absolute;
}
#flip_front, #flip_back, #flip_middle
{
	width: 654px;
	height: 726px;
	cursor: url("../images/cpointer.png"), pointer;
	position: relative;
	z-index: 110;
	-webkit-box-shadow: 0px 1px 4px 0px #99A3AD, inset 0px 0px 40px #EEEEEE; 
	-moz-box-shadow: 0px 1px 4px 0px #99A3AD, inset 0px 0px 40px #EEEEEE; 
	box-shadow: 0px 1px 4px 0px #99A3AD, inset 0px 0px 40px #EEEEEE; 
	border: 1px groove #ddd; 
}
.flip_back, .flip_middle, .flip_front
{
	background-position: 0px 0px;
	width:654px;
	height:726px;
}

#tooltip_card
{
	border: 0px;
	width: auto; /* 125px; */
	height: auto; /* 175px; */
	position: absolute;
	z-index: 200 !important;
	background: none !important;
	display: none;
}

.simply-toast
{
	font-size: 11px;
	font-weight: lighter;
	font-family: 'Titillium Web', sans-serif;
	text-shadow: none;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	-o-text-shadow: none;
}

.bg.withcounter
{
	width: 126px !important;
	background-position: 14px -40px !important;
}

.shadow-overlay.withcounter
{
	background: -moz-linear-gradient(left,  rgba(40,40,40,1.0) 60%, rgba(40,40,40,0.8) 65%, rgba(40,40,40,0) 75%) !important;
	background: -webkit-gradient(linear, left top, right top, color-stop(60%,rgba(40,40,40,1.0)), color-stop(75%,rgba(40,40,40,0.8)), color-stop(70%,rgba(40,40,40,0))) !important;
	background: -webkit-linear-gradient(left,  rgba(40,40,40,1.0) 60%,rgba(40,40,40,0.8) 65%,rgba(40,40,40,0) 75%) !important;
	background: -o-linear-gradient(left,  rgba(40,40,40,1.0) 60%,rgba(40,40,40,0.8) 65%,rgba(40,40,40,0) 75%) !important;
	background: -ms-linear-gradient(left,  rgba(40,40,40,1.0) 60%,rgba(40,40,40,0.8) 65%,rgba(40,40,40,0) 75%) !important;
	background: linear-gradient(to right,  rgba(40,40,40,1.0) 60%,rgba(40,40,40,0.8) 65%,rgba(40,40,40,0) 75%) !important;
}

#spinner
{
	background-image: url(../images/dust.png);
	background-position: 0 0px;
	float:right;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	cursor: url("../images/cpointer.png"), pointer;
	display: inline-block;
	clear: none;
	background-color: none;
	top:0px !important;
	margin:0px !important;
	padding:0px !important;

	white-space: nowrap;
	overflow: hidden;
	-webkit-mask-image: url(../images/dust.png);
	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 750ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes spinnerRotate
{
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}
