/*
 * This file is part of HearthStoneHelper.
 *
 * HearthStoneHelper is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * HearthStoneHelper is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with HearthStoneHelper.  If not, see <http://www.gnu.org/licenses/>.
 */
@charset "UTF-8";
/* CSS Document */
body
{
	margin: 6px;
	padding: 0px;
}
#controlscontainer
{
	margin-left:250px;
}
#wrapper
{
	width: 250px;
	display: inline-block;
	margin: auto auto;
	float: left;
}
/* Toolbox: Container for control buttons */
.toolbox
{
	height: 32px;
	width: 224px;
	display: block;
	float: left;
	border:6px groove #666;
	padding:0px;
	background-color:#444;
	margin: auto auto;
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 

}
.divider
{
	display: block;
	clear:both;
	float:left;
}
/* Deck box: Container for deck and title */
#holder
{
	min-height: 24px;
	width: 224px;
	background-color: #eee;
	display: none;
	float: left;
}
.deck_holder
{
	min-height: 24px;
	width:224px;
	border:6px groove #666;
	padding:0px;
	background-color:#4d3252;
	margin: auto auto;
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 
}
.deck
{
	width:224px;
	min-height: 24px;
	display: block;
	color: #ccc;
}
ul
{
	list-style:none;
	margin:0px;
	padding:2px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	-moz-margin-before: 0px;
	-moz-margin-after: 0px;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
	-moz-padding-start: 0px;
}

/* STYLES FOR CARD ELEMENTS */
/* Colors for names based on card oddity */
.soulbound
{
	color: #9d9d9d !important;
}
.common, .card, .bg, .cost, .shadow-overlay, .cover
{
	color: #fff !important;
}
.rare
{
	color: #0070dd !important;
}
.epic
{
	color: #a335ee !important;
}
.legendary
{
	color: #ff8000!important;
}

/* STYLES FOR HERO DECKS */
/* Colors for names based on World of Warcraft hero color */
.neutral
{
	color: #CCCCCC !important;
}
.deathknight
{
	color: #C41F3B !important;
}
.druid
{
	color: #FF7D0A !important;
}
.hunter
{
	color: #ABD473 !important;
}
.mage
{
	color: #69CCF0 !important;
}
.monk
{
	color: #00FF96 !important;
}
.paladin
{
	color: #F58CBA !important;
}
.priest
{
	color: #FFFFFF !important;
}
.rogue
{
	color: #FFF569 !important;
}
.shaman
{
	color: #0070DE !important;
}
.warlock
{
	color: #9482C9 !important;
}
.warrior
{
	color: #C79C6E !important;
}

.deckline.neutral, .deckline.deathknight, .deckline.druid, .deckline.hunter, .deckline.mage, .deckline.monk,
.deckline.paladin, .deckline.priest, .deckline.rogue, .deckline.shaman, .deckline.warlock, .deckline.warrior
{
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 0px 4px;
}

/* Common properties for all fields: Mainly, text and pointer */
.card, .cost, .count, .bg, .name, .shadow-overlay, .cover
{
	font-family: Arial,sans-serif;
	font-size: 13px;
	text-shadow: 1px 1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000;
	cursor: pointer;
}
.card /* Card holder: Common properties for each card */
{
	background: #303030;
	border-radius: 6px;
	box-shadow: 0px 0px 20px #000;
	display: block;
	height: 24px;
	margin: 0 0 3px 12px;
	position: relative;
	width: 210px;
	outline: none;
}
.card:hover
{
	box-shadow: 0 1px 3px #fff;
}
.name /* Card Name: Position and text properties */
{
	height: 24px;
	left: 16px;
	padding-left: 16px;
	line-height: 24px;
	position: absolute;
	top: 0;
	z-index: 5;
	display: block;
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: 0px 4px;
}
.bg /* Card Background: Common properties and position (url is defined as tag on the element) */
{
	box-shadow: inset -1px 0 0 rgba(255,255,255,.2),1px 0 0 rgba(0,0,0,.5);
	background-position: -65px -100px;
	background-size: 235px auto;
	border-radius: 0 6px 6px 0;
	opacity: .8;
	position: absolute;
	right: 0px;
	top: 0;
	transition: background 150ms linear !important;
	-webkit-transition: background 150ms linear !important;
	-moz-transition: background 150ms linear !important;
	-o-transition: background 150ms linear !important;
	width: 108px;
	z-index: 1;
	display: block;
	height: 24px;
}
.count /* Card count area: Just text and position */
{
	color: #ffe600;
	font-size: 17px;
	font-weight: bold;
	height: 24px;
	line-height: 26px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 19px;
	z-index: 5;
}

/* COMMON FOR BUTTONS */
.icon, .flag, .import, .store
{
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
	cursor: pointer;
	display: inline-block;
	float: right;
	clear: none;
	background-color: rgba(0,0,0,0);
	-webkit-transition: -webkit-transform 250ms linear;
	-moz-transition: -moz-transform 250ms linear;
	-o-transition: -o-transform 250ms linear;
	transition: transform 250ms linear;
}
.icon:hover, .flag:hover, .import:hover, .store:hover
{
  -webkit-transform: rotate(-15deg);
     -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
       -o-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-transform-origin: center center;
     -moz-transform-origin: center center;
      -ms-transform-origin: center center;
       -o-transform-origin: center center;
          transform-origin: center center;
}

/* Box for Hero frame */
#deck_class
{
	background-position: -40px -100px;
	background-size: 320px auto;
	transition: background 250ms linear !important;
	-webkit-transition: background 250ms linear !important;
	-moz-transition: background 250ms linear !important;
	-o-transition: background 250ms linear !important;
	z-index: 1;
	display: block;
	height: 48px;
	position: relative;
	width: 100%;
	outline: none;
}

/* ICONS */
.icon /* For buttons or controls based on icons */
{
	background-image: url(../images/sprite32.png);
	float:left;
}

.attack /* Attack icon: Yellow sphere indicator */
{
	background-position: 0 0px;
}
.health /* Health icon: Red drop indicator */
{
	background-position: 0 -32px;
}
.cost /* Cost icon: Diamond Mana indicator */
{
	background-position: 0 -64px;
}
.battle /* Battle icon: Swords indicator */
{
	background-position: 0 -96px;
}
.durability /* Durability icon: Shield indicator */
{
	background-position: 0 -128px;
}
.arcanepowder /* ArcanePowder icon: Bottle indicator */
{
	background-position: 0 -160px;
}
.stone /* Stone icon: Stone indicator */
{
	background-position: 0 -192px;
	float:right !important;
}
.foil /* Foil icon: Foil indicator */
{
	background-position: 0 -224px;
	float:right !important;
}
.rank /* Rank icon: Rank indicator */
{
	background-position: 0 -256px;
}
.question /* Question mark: ? sign */
{
	background-position: 0 -288px;
}

/* FLAGS */
.flag /* For buttons or controls based on icons */
{
	background-image: url(../images/flags.png);
}
.spain /* Attack icon: Yellow sphere indicator */
{
	background-position: 0 -32px;
}
.usauk /* Health icon: Red drop indicator */
{
	background-position: 0 0px;
}

/* IMPORT */
.import /* For buttons or controls used to import */
{
	background-image: url(../images/import.png);
}
.fromurl /* from text in url */
{
	background-position: 0 -32px;
}
.fromhtml /* from paste from hearthhead */
{
	background-position: 0 0px;
}

/* LOAD/SAVE ICONS */
.store
{
	background-image: url(../images/loadsave.png);
}
.retrieve
{
	background-position: 0 -128px;
}
.delete
{
	background-position: 0 -96px;
}
.intern
{
	background-position: 0 -64px;
}
.load
{
	background-position: 0 -32px;
}
.save
{
	background-position: 0 0px;
}

/* MISC */
.cost /* Cost area: Diamond on background plus cost value text and position */
{
	font-size: 17px;
	font-weight: bold;
	left: -16px;
	line-height: 36px;
	position: absolute;
	text-align: center;
	top: -4px;
	z-index: 10;
	display: block;
}
.shadow-overlay /* Shadow overlay on each card tag */
{
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1),inset 0 -1px 0 rgba(255,255,255,.08);
	border-radius: 6px;
	display: block;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 3;
	background: -moz-linear-gradient(left,  rgba(0,0,0,1.0) 45%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 75%);
	background: -webkit-gradient(linear, left top, right top, color-stop(45%,rgba(0,0,0,1.0)), color-stop(50%,rgba(0,0,0,0.9)), color-stop(75%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left,  rgba(0,0,0,1.0) 45%,rgba(0,0,0,0.9) 50%,rgba(0,0,0,0) 75%); 
	background: -o-linear-gradient(left,  rgba(0,0,0,1.0) 45%,rgba(0,0,0,0.9) 50%,rgba(0,0,0,0) 75%); 
	background: -ms-linear-gradient(left,  rgba(0,0,0,1.0) 45%,rgba(0,0,0,0.9) 50%,rgba(0,0,0,0) 75%);
	background: linear-gradient(to right,  rgba(0,0,0,1.0) 45%,rgba(0,0,0,0.9) 50%,rgba(0,0,0,0) 75%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff000000', endColorstr='#00000000',GradientType=1 );
}
.cover /* Card cover (to dark it when all used) */
{
	bottom: 0px;
	display: block;
	height: auto;
	left: -12px;
	position: absolute;
	right: 0;
	top: 0px;
	background-color:rgba(0, 0, 0, 0);
	z-index: 12; /* 4 */
	width:223px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	transition: background-color 0.5s linear !important;
	-webkit-transition: background-color 0.5s linear !important;
	-moz-transition: background 0.5s linear !important;
	-o-transition: background-color 0.5s linear !important;
}

/* STYLES FOR CONTROLS */
/* Controls for import/reset decks */
/* Main container */
#importhtml, #importurl , #exportintern, #importintern
{
	width: 224px;
	padding: 6px;
	z-index:1;
	display: none;
	border:6px groove #666;
	background-color:#444;
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 
	color:#fff !important;
}
#importintern
{
	width:300px !important;
}
.inputbox, .input
{
	border: 1px solid #444;
	background-color: #eee;
	color: #444;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 10px;
	text-decoration: none;
	width: 224px;
}

.content
{
	/* color: #444; */
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 10px;
	text-decoration: none;
	padding: 0px !important;
}

.withcontent
{
	display: none;
}

.deckline
{
	display:inline-block;
	clear:right;
	width: 100% !important;
	cursor:pointer;
}
.deckline, .decklinename
{
	float:left;
	color: #fff;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 14px;
	text-decoration: none;
	padding: 2px !important;
}
.decklinename
{
	min-width:200px;
	padding-left: 18px !important;
}

.lineoff { background-color:transparent; }
.lineon { background-color:rgba(255,255,255,0.25); }

#tooltip
{
	width: auto;
	height: auto;
	position:fixed;
	padding: 4px;
	color: #fff;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 10px;
	text-decoration: none;
	background-color: #444;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #ccc;
	z-index:1000;
}

/* HELP CONTENT */
#help
{
	position: absolute;
	top: 0px;
	left: 0px;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	display:none;
	background-color: rgba(196,196,196,0.75);
	z-index:100;
	cursor: pointer;
}

.flipbox-container
{
	width: 654px;
	height: 726px;
	left:50%;
	top:25%;
	margin: -181px 0 0 -327px;
	position:absolute;
}
#flip_front, #flip_back, #flip_middle {
	width: 654px;
	height: 726px;
	cursor: pointer;
	position: relative;
	z-index: 110;
	-webkit-box-shadow: 0px 1px 4px 0px #99A3AD, inset 0px 0px 40px #EEEEEE; 
	-moz-box-shadow: 0px 1px 4px 0px #99A3AD, inset 0px 0px 40px #EEEEEE; 
	box-shadow: 0px 1px 4px 0px #99A3AD, inset 0px 0px 40px #EEEEEE; 
	border: 1px groove #ddd; 
}

/* front pane */
.eses.flip_back {
	width:654px;
	height:726px;
	background-image:url('../images/eses/hearthhelper_back.jpg');
}
.enus.flip_back {
	width:654px;
	height:726px;
	background-image:url('../images/enus/hearthhelper_back.jpg');
}

/* middle */
.eses.flip_middle {
	width:654px;
	height:726px;
	background-image:url('../images/eses/hearthhelper.jpg');
}
.enus.flip_middle {
	width:654px;
	height:726px;
	background-image:url('../images/enus/hearthhelper.jpg');
}

/* back */
.eses.flip_front {
	width:654px;
	height:726px;
	background-image:url('../images/eses/hearthhelper_front.jpg');
}
.enus.flip_front {
	width:654px;
	height:726px;
	background-image:url('../images/enus/hearthhelper_front.jpg');
}
