/*
 * This file is part of HearthStoneHelper.
 *
 * HearthStoneHelper is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * HearthStoneHelper is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with HearthStoneHelper.  If not, see <http://www.gnu.org/licenses/>.
 */
@charset "UTF-8";
/* jHSChart */
div#jhschartcontainer
{
	width:230px;
	height:145px;
	margin:0px;
	padding:0px;
	border:none;
	position:absolute;
}
div.jhschartmana,div.jhscharthealth,div.jhschartattack,div.jhschartpie
{
	width:230px;
	height:145px;
	top:0px;
	left:0px;
	position:absolute;
	z-index:100;
}
canvas.jhschartpiechart
{
	width:164px;
	height:102px;
	top:28px;
	left:24px;
	position:absolute;
	z-index:150;
}
.jhschartbutton
{
	height: 24px;
	width: 24px;
	cursor: url("../images/cpointer.png"), pointer;
	display: inline-block;
	float: right;
	clear: none;
	background-color: none;
	background-repeat: no-repeat;
	background-size:24px auto;
	-webkit-transition: -webkit-transform 250ms linear;
	-moz-transition: -moz-transform 250ms linear;
	-o-transition: -o-transform 250ms linear;
	transition: transform 250ms linear;
	background-image: url('../images/sprite32.png');
	float:left;
	position:absolute;
	z-index:140;
}
.jhschartbutton:hover
{
  -webkit-transform: rotate(-15deg);
     -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
       -o-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-transform-origin: center center;
     -moz-transform-origin: center center;
      -ms-transform-origin: center center;
       -o-transform-origin: center center;
          transform-origin: center center;
}
.jhschartbtattack
{
	background-position: 0 0px;
	top:24px;
	right:0px;
}
.jhschartbthealth
{
	background-position: 0 -24px;
	top:48px;
	right:0px;
}
.jhschartbtcost
{
	background-position: 0 -48px;
	top:72px;
	right:0px;
}
.jhschartbtclose
{
	background-position: 0 -144px;
	top:0px;
	right:0px;
}
.jhschartbtpie
{
	background-position: 0 -168px;
	top:96px;
	right:0px;
}
div.jhschartmana
{
	background:url('jhschart/bar_mana.png');
}
div.jhscharthealth
{
	background:url('jhschart/bar_health.png');
}
div.jhschartattack
{
	background:url('jhschart/bar_attack.png');
}
div.jhschartpie
{
	background:url('jhschart/bar_pie.png');
}
div.jhschartbackground
{
	width:230px;
	height:145px;
	background:url('jhschart/bar_background.png');
	top:0px;
	left:0px;
	position:absolute;
	z-index:80;
}
span.jhschartbar
{
	width:12px !important;
	background-image:url('jhschart/bar_bar.png');
	background-size:12px auto;
	background-repeat:no-repeat;
	z-index:90;
	bottom:30px;
	position:absolute;
	display:inline-block;
	float:left;
}
span.jhschartcounter
{
	width:14px !important;
	height:14px !important;
	z-index:120;
	top:7px;
	position:absolute;
	display:inline-block;
	float:left;
	text-align:center;
	vertical-align:central;
	font-family:belwe;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	text-shadow: 1px 1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000;
	-webkit-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	-moz-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
	-o-text-shadow: 1px 1px 0 black,1px 0 0 black,1px -1px 0 black,0 -1px 0 black,0 1px 0 black,-1px 1px 0 black,-1px 0 0 black,-1px -1px 0 #000;
}

.barhealth
{
	box-shadow: 0 0 1px rgba(0, 0, 0, .5), inset 1px 1px 1px rgba(255, 255, 255, .2);
	background-color: #f53a2e;
	background-color: -moz-linear-gradient(top, #f74436 0, #da2b22 100%);
	background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f74436), color-stop(100%, #da2b22));
	background-color: -webkit-linear-gradient(top, #f74436 0, #da2b22 100%);
	background: -o-linear-gradient(top, #f74436 0, #da2b22 100%);
	background-color-color: -ms-linear-gradient(top, #f74436 0, #da2b22 100%);
	background-color: linear-gradient(to bottom, #f74436 0, #da2b22 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f74436', endColorstr='#da2b22', GradientType=0);
}
.barattack
{
	box-shadow: 0 0 1px rgba(0, 0, 0, .5), inset 1px 1px 1px rgba(255, 255, 255, .5);
	background-color: #edb517;
	background-color: -moz-linear-gradient(top, #f0c21b 0, #d29711 100%);
	background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0c21b), color-stop(100%, #d29711));
	background-color: -webkit-linear-gradient(top, #f0c21b 0, #d29711 100%);
	background-color: -o-linear-gradient(top, #f0c21b 0, #d29711 100%);
	background-color: -ms-linear-gradient(top, #f0c21b 0, #d29711 100%);
	background-color: linear-gradient(to bottom, #f0c21b 0, #d29711 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f0c21b', endColorstr='#d29711', GradientType=0);
}
.barmana
{
	box-shadow: 0 0 1px rgba(0, 0, 0, .5), inset 1px 1px 1px rgba(255, 255, 255, .2);
	background-color: #376bb8;
	background-color: -moz-linear-gradient(top, #417ec5 0, #2d58ab 100%);
	background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0, #417ec5), color-stop(100%, #2d58ab));
	background-color: -webkit-linear-gradient(top, #417ec5 0, #2d58ab 100%);
	background-color: -o-linear-gradient(top, #417ec5 0, #2d58ab 100%);
	background-color: -ms-linear-gradient(top, #417ec5 0, #2d58ab 100%);
	background-color: linear-gradient(to bottom, #417ec5 0, #2d58ab 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#417ec5', endColorstr='#2d58ab', GradientType=0);
}





















